* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 5000px;
}

.header {
   
    

    .top {
        width: 100%;
        height: 55px;
        background: linear-gradient(to left, #f09122 20%, #c4213a 80%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-family: "Source Sans 3", sans-serif;
        font-weight: 400px;

        .text {
            color: white;
        }

        a {
            text-decoration: none;
        }

        button {
            color: white;
            margin-left: 30px;
            background-color: black;
            width: 140px;
            height: 35px;
            border-radius: 4px;
            border: none;


        }
    }

    .mid {
        width: 100%;
        position: relative;
        height: 100px;
        display: flex;
        .logo{
            display: flex;
            padding-left: 50px;
            padding-bottom: 7px;
            p{
                margin-top: 45px;
                margin-left: 30px;
                i{
                    margin-right: 10px;
                }
            }
        }
        

        img {
            padding-left: 25px;
            padding-top: 10px;
        }
        .search{
            margin-top: 40px;
            margin-right: 15px;
            border: none;
            align-items: center;
            padding-right: 60px;
            width: 350px; 
            height: 51.5px;
        }
        .inquiry{
            padding-left: 40px;
            padding-top: 10px;
            
        }
      .quiry{
        height: 47px;
        width: 170px;
        margin-top: 32px;
        border: none;
        padding-left: 15px;
        border-radius: 5px;
        background-color: #122C91;
        color: white;
        font-weight: 600;
        padding-top: 1px;
        margin-left: 30px;
       
      }
      .quiry:hover{
        background-color: #2155CA;
      }
    }

    .nav {
        border-top: 1px solid #eaeaea;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        margin:0px 10px;
        padding-left: 50px;
       
      
       
        


        a {
            text-decoration: none;
            padding-top: 15px; 
            margin-right: 70px;
            color: black;
            font-family: "Source Sans 3", sans-serif;

            font-weight: 600;





        }

        a:hover {
            border-top: 1px solid blue;
            color: blue;

        }


    }
}

.banner {
    width: 100%;
    height: 450px;
    background-color: #f09122;
    display: flex;

    .left {

        display: flex;
        width: 40%;
        height: 530px;
        background-color: #274595;
        color: white;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: "libre baskerville";
            font-weight: 600;
            font-size: 40px;

        }

        button {
            width: 220px;
            height: 50px;
            background-color: #81E9E6;
            color: #274595;
            border-radius: 3px;
        }

        button:hover {
            background-color: #00BBB6;
            color: white;
        }

    }

    p {
        font-size: 15px;
        padding-top: 25px;
    }

}

.slider {
    width: 54.7%;
    height: 530px;

}

.right {

    width: 26.5%;
    height: 530px;
    display: flex;
    flex-direction:column;
    

    .top {
        background-color: #2A6FDB;
        width: 100%;
        height: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        

      
      

        .img {
            width:100%;
            padding-left: 30px;
            padding-top: 40px;
           
          
        }
        .mid-text{
            font-size: 50px;
            margin-left:-200px;
            padding-top: 4px;
            font-family: "Source Sans 3", sans-serif;
        }
        .bottom-text{
            margin-left:-70px;
            font-family: "Source Sans 3", sans-serif;
            font-size:18px;
            
        }
    }

    .bottom {
        background-color: #81E9E6;
        width: 100%;
        height: 50%;
        color: #274595;
      
        
        .image{
            width: 100%;
            padding-left: 30px;
            padding-top: 40px;
        }
        .mid-text{
            font-size: 50px;
            padding-left: 30px;
            font-family: "Source Sans 3", sans-serif;
        }
        .bottom-text{
            padding-left: 30px;
            font-family: "Source Sans 3", sans-serif;
            font-size:18px;
        }
    }
}
.name{
    width: 7.5rem;
    height: 2.5rem;
    color: #EC6705;
    border-bottom: 1px solid red;
    font-weight:600;
    font-size: 16px;
    margin-left: 8.7rem;
    margin-top: 120px;
  
   
}
.container{
    margin-top: 40px;
    width: 100%;
    height:1600px;
  
  
    .first{
        width:100%;
        height:253px;
        margin-left: 0px;
        display: flex;
        
        
        justify-content: space-around;
     
        .one{
            .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position:absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:860px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
    
          .text{
            width:267px;
            height:95px; 
            }
        }
        .two{
            .pic{
                width:267px;
                height:158px;
                }
                .text1{
                    width:267px;
                    height:158px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top:860px;
                    background-color: #3D7CDE;
                    transition: 0.5s;
                    opacity: 0;
                    color: white;
                    }
                    .text1:hover{
                        opacity:0.9;
                    }
                .text{
                width:267px;
                height:95px; 
                }
        }
        .three{
            .pic{
                width:267px;
                height:158px;
                }
                .text1{
                    width:267px;
                    height:158px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top:860px;
                    background-color: #3D7CDE;
                    transition: 0.5s;
                    opacity: 0;
                    color: white;
                    }
                    .text1:hover{
                        opacity:0.9;
                    }
                .text{
                width:267px;
                height:95px; 
                }
        }
        .four{
            .pic{
                width:267px;
                height:158px;
                }
                .text1{
                    width:267px;
                    height:158px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top:860px;
                    background-color: #3D7CDE;
                    transition: 0.5s;
                    opacity: 0;
                    color: white;
                    }
                    .text1:hover{
                        opacity:0.9;
                    }
                .text{
                width:267px;
                height:95px; 
                }
        }




 }
.second{
    width:100%;
    height:253px;
    margin-left: 0px;
    display: flex;
    
    justify-content: space-around;
 
    .one{
        .pic{
        width:267px;
        height:158px;
        }
        .text1{
            width:267px;
            height:158px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 1114px;
            background-color: #3D7CDE;
            transition: 0.5s;
            opacity: 0;
            color: white;
            }
            .text1:hover{
                opacity:0.9;
            }
      .text{
        width:267px;
        height:95px; 
        }
    }
    .two{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1114px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .three{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1114px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .four{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1114px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }




}
.third{
    width:100%;
    height:253px;
    margin-left: 0px;
    display: flex;
    
    justify-content: space-around;
 
    .one{
        .pic{
        width:267px;
        height:158px;
        }
        .text1{
            width:267px;
            height:158px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:1365px;
            background-color: #3D7CDE;
            transition: 0.5s;
            opacity: 0;
            color: white;
            }
            .text1:hover{
                opacity:0.9;
            }
      .text{
        width:267px;
        height:95px; 
        }
    }
    .two{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1365px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .three{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1365px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .four{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1365px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }




}
.fourth{
    width:100%;
    height:253px;
    margin-left: 0px;
    display: flex;
    
    justify-content: space-around;
 
    .one{
        .pic{
        width:267px;
        height:158px;
        }
        .text1{
            width:267px;
            height:158px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 1620px;
            background-color: #3D7CDE;
            transition: 0.5s;
            opacity: 0;
            color: white;
            }
            .text1:hover{
                opacity:0.9;
            }
      .text{
        width:267px;
        height:95px; 
        }
    }
    .two{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1620px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .three{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1620px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .four{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1620px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }




}
.fifth{
    width:100%;
    height:253px;
    margin-left: 0px;
    margin-bottom: 25px;
    display: flex;
    
    justify-content: space-around;
 
    .one{
        .pic{
        width:267px;
        height:158px;
        }
        .text1{
            width:267px;
            height:158px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:1870px;
            background-color: #3D7CDE;
            transition: 0.5s;
            opacity: 0;
            color: white;
            }
            .text1:hover{
                opacity:0.9;
            }
      .text{
        width:267px;
        height:95px; 
        }
    }
    .two{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1870px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .three{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1870px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .four{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:1870px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }




}
.sixth{
    width:100%;
    height:253px;
    margin-left: 0px;
    display: flex;
    
    justify-content: space-around;
 
    .one{
        .pic{
        width:267px;
        height:158px;
        }
        .text1{
            width:267px;
            height:158px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:2150px;
            background-color: #3D7CDE;
            transition: 0.5s;
            opacity: 0;
            color: white;
            }
            .text1:hover{
                opacity:0.9;
            }
      .text{
        width:267px;
        height:95px; 
        }
    }
    .two{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:2150px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .three{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:2150px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }
    .four{
        .pic{
            width:267px;
            height:158px;
            }
            .text1{
                width:267px;
                height:158px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:2150px;
                background-color: #3D7CDE;
                transition: 0.5s;
                opacity: 0;
                color: white;
                }
                .text1:hover{
                    opacity:0.9;
                }
            .text{
            width:267px;
            height:95px; 
            }
    }




}
.button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    button{
        width: 280px;
        height: 50px;
        color:#274595;
        border-radius: 4px;
        font-weight: 600;
        background-color: white;
        border: 1px solid #274595;
        padding-bottom: 2px;
       
    }
    button:hover{
        background-color:#2A6FDB;
        color: white;
    }
      
    }
    


}
